.container{
    width:100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif; 
    align-items: center;
 
}
.form{
    padding-left: 5px;
}
.wraper{
    width: 390px;
    background:  #64485C;
    border-radius: 10px;
    overflow: hidden;
    padding: 0px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.field{
    border:1px solid transparent;
    border-radius: 5px;
    box-shadow: violet;
    background-color:#64485c;
    align-items: center;
    text-align: center; 
    color:white; 
}
.button1{
    border:1px solid blueviolet;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    background-color: #501B1d;
    height:35px;
    width:125px;
    border-radius: 5px;
    margin-top: 15px;
}
.row{
    width:100%;
    display: inline;
    padding-left: 28px;
}
label{
    display: flex;
    text-align: center;
    align-items: center;
}
input{
    width:90%;
    display: flex;
}
.message{
    color:white;
    font-size: large;
    align-items: center;
    text-align: auto;
    padding-bottom: 5px;
}
img{
    height:120px;
}
.new{
    color:white;
    text-decoration: none;
    font-size: large;
}