.container_box{
    width:100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif; 
    align-items: center;
    padding: 0px;
}
img{
    height:160px;
    
}
.title_box{
    color:#4d194d;
}
legend{
    padding:10px;
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 5px;
}
.column_box{
    width:100%; 
    display:inline; 
}
legend{
    color:white;
}
.message_box{
    color:white;
    font-size: large;
    align-items: center;
    text-align: auto;
   
}
input{
    height:20px;
    width:150px;
}
.form_box{
    align-items: center;
    text-align: center;
    display: inline;
    justify-content: space-between; 
}
.row_box{
    display:flex;
    width:100%;
    position: relative;
    margin-bottom: 8px;
}

label{
    margin: 3px;
    color: white;
    font-size: large;
}
.field{
    border:.5px solid transparent;
    border-radius: 5px;
    box-shadow: violet;
    background-color:#64485c;
    align-items: center;
    text-align: center; 
    color:white; 
}
.button_box{
    border:1px solid blueviolet;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    background-color: #501B1d;
    height:35px;
    width:125px;
    border-radius: 5px;
}
.wraper_signup{
    width: 550px;
    height:503px;
    background:  #64485C;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.new_box{
    color:white;
    text-decoration: none;
    font-size: large;
   padding-left: 40%;
}
     

