.custom-range::-webkit-slider-thumb {
    background-color:#98144d;
}
  
.custom-range::-moz-range-thumb {
    background-color: #98144d;
}
  
.custom-range::-ms-thumb {
    background-color: #98144d;
}