.card_container{
    display:flex;
    padding:5px;
    justify-content: space-evenly;
    align-items: center;
}
.card_cont{
    width:180px;
    height:75px;
    background-color: #34113F;
    color:white;
    text-align: center;
    align-items: center;
}
.card_cont p{
    font-weight: bolder;
}